<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>VSP</title>

  {% load static %}

  <!--  Favicon-->
  <link rel="icon" href="{% static 'pages/img/favicon.ico' %}">

  <!-- Bootstrap core CSS -->
  <link href="{% static 'pages/libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'pages/css/modern-business.css' %}" rel="stylesheet">

</head>
<body>
  {% include 'navbar.html' %}

  {% block content %}


  {% endblock %}

  {% include 'footer.html' %}
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'pages/libs/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'pages/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>