{% extends "base.html" %}

{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'pages/carousel.css' %}">
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Культурный Мост</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Галлерея</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main>
  <div id="myCarousel" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" style="height: fit-content;">
<!--        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>-->
        <img class="img-fluid" style="position: inherit; height: auto" src="{% static 'pages/img/fp_girls.jpg' %}" alt="">

      </div>
      <div class="carousel-item" style="height: fit-content;">
<!--        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>-->
        <img class="img-fluid" style="position: inherit; height: auto" src="{% static 'pages/img/fp_girls.jpg' %}" alt="">

      </div>
      <div class="carousel-item" style="height: fit-content;">
<!--        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>-->
        <img class="img-fluid" style="position: inherit; height: auto" src="{% static 'pages/img/fp_girls.jpg' %}" alt="">

      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- TURNED OFF
    Three columns of text below the carousel -->
    <div class="row" style="display: none">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>Heading</h2>
        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>Heading</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>Heading</h2>
        <p>And lastly this, the third column of representative placeholder content.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading ">Автономная некоммерческая организация «Центр развития
          мультикультурной интеграции «Культурный мост» <span class="text-muted">(АНО «Культурный
          мост»)</span> создана в 2015 году в Санкт-Петербурге.</h2>
        <p class="lead font-monospace">Основные задачи организации: мультикультурная интеграция, выражающаяся
          в создании условий и обеспечении диалога и разнообразия художественных культур,
          различных способов художественного воплощения; развитие творческой
          инициативы, продвижение достижений мирового художественного творчества,
          установление творческих контактов и связей в культурном пространстве России и
          зарубежных стран; пропаганда многонационального культурного наследия РФ и
          зарубежных стран.
          <br><br>
          АНО «Культурный мост» успешно работает в сфере реализации различных
          культурных и социально-значимых проектов и мероприятий регионального, федерального
          и международного значения как в качестве исполнителя и/или субподрядчика по грантам,
          субсидиям и государственным контрактам, так и в качестве исполнителя по коммерческим
          договорам.
        </p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{% static 'pages/img/arctic.jpg' %}" alt="">

      </div>
    </div>

    <hr class="featurette-divider">
    <h3 class="text-center">Реализованные проекты</h3>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">В декабре 2015 году в Санкт-Петербурге</h2>
        <p class="lead font-monospace">На Новой сцене Александринского театра
          и в БКЗ «Октябрьский» были реализованы мероприятия, посвященные празднованию
          70-й годовщины Победы в Великой Отечественной войне 1941–1945 годов.
          Мероприятия проходили «Под эгидой Форума» во время проведения IV Санкт-
          Петербургского международного культурного форума.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{% static 'pages/img/arctic.jpg' %}" alt="">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">В 2016 году при поддержке Комитета по культуре Санкт-Петербурге</h2>
        <p class="lead font-monospace">Под Эгидой VСанкт-Петербургского международного культурного форума был реализован фестиваль
          «Жизнь в танце», посвященный юбилею великого танцовщика Мариса Лиепы.
          В нябре 2016 года состоялся в Санкт-Петербурге инновационный проект
          «Мультимедийные инсталляции «Монография», приуроченный 80 летнему юбилею
          Мариса Лиепы. Организатор-Благотворительный Фонд им.Мариса Лиепы (партнерское
          участие).
        </p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{% static 'pages/img/arctic.jpg' %}" alt="">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">В 2017 году на площадках Москвы, Санкт-Петербурга,
          Тулы, Калининграда, Сочи, и Омска</h2>
        <p class="lead font-monospace">Прошли мероприятия, посвященные 200 летию основателя русского
          классического балета Мариуса Петипа и 100 летию Великой Октябрьской
          революции – «Мариус Петипа и новое время: революционная перезагрузка».
          Организатор – ООО Глобус СПб», партнерский проект.
          В ноябре 2017 года в Санкт-Петербурге реализован гала-концерт и
          мльтимедиапроект «Жар-Птица» в рамках проекта к 135 летию И.Стравинского.
          Организатор – РОО«Русские сезоны XX1века»
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{% static 'pages/img/arctic.jpg' %}" alt="">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">В ноябре 2017 года в рамках празднования 300-летия установления
          дипломатических отношений России и Франции в Париже</h2>
        <p class="lead font-monospace">еализован проект
          «Мультимедийный фестиваль "Под небом Парижа" (партнерский проект ООО «Глобус
          СПб», совместно с Красноярским театром оперы и балета им. П. И. Чайковского).
          В декабре 2017 года в Санкт-Петербурге был реализован Инновационный
          Мультимедийный проект в технологии VR360 «Культурная революция 1920е: взгляд из
          будущего».
        </p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{% static 'pages/img/arctic.jpg' %}" alt="">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">В мае 2018 года при поддержке Минкультуры РФ в Санкт-Петербурге</h2>
        <p class="lead font-monospace">Реализованы международные проекты: молодежный театральный фестиваль «Поэзия на сцене» и
          «Мультимедийный проект «Культурный мост-2018».
          С июня по ноябрь 2018 года при поддержке Минкультуры РФ реализован
          долгосрочный проект Минкультуры РФ в регионах – Международный культурный центр,
          МКЦ, посвященный 200-летию основоположника русского балета Мариуса Петипа.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{% static 'pages/img/arctic.jpg' %}" alt="">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">В ноябре 2018 года при поддержке Минкультуры РФ в Санкт-Петербурге</h2>
        <p class="lead font-monospace">Реализован Инновационный мультимедийный проект театрализованный перфоманс с
          элементами VR360 «Avant-Garde VR: Русский театр Серебряного века».
          В течение летнего и осеннего сезона 2019 года в рамках исполнения
          государственного контракта с ФГБУК «Росконцерт» организованы и проведены
          мероприятия Международного культурного центра – МКЦ «Перекресток культур -
          2019» в регионах РФ: г. Астрахань, г.Ярославль, г. Санкт-Петербург, г. Екатеринбург, г. Казань.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{% static 'pages/img/arctic.jpg' %}" alt="">

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Наверх</a></p>
    <p>&copy; 2015–2021 АНО Культырный Мост. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</main>

{% endblock %}